# 1. Create a 3x3x3 array with random values

In [1]:
import numpy as np

In [2]:
np.random.rand(3,3,3)

array([[[0.59212902, 0.25206585, 0.6024367 ],
        [0.7060492 , 0.4478313 , 0.87650633],
        [0.57467925, 0.16731329, 0.49817525]],

       [[0.27010133, 0.4232138 , 0.3136496 ],
        [0.38627176, 0.51843746, 0.53512061],
        [0.68165375, 0.0877523 , 0.2975123 ]],

       [[0.22177105, 0.99343049, 0.49007856],
        [0.58846209, 0.34554508, 0.64500298],
        [0.53363595, 0.46520336, 0.71400566]]])

# 2.Create a 5x5 matrix with values 1,2,3,4 just below the diagonal

In [3]:
d = np.zeros((5,5))
d

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [4]:
for i in range(1,5):
    for j in range(i):
        d[i,j] = i
d

array([[0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [2., 2., 0., 0., 0.],
       [3., 3., 3., 0., 0.],
       [4., 4., 4., 4., 0.]])

# 3.Create a 8x8 matrix and fill it with a checkerboard pattern

In [5]:
d = np.zeros((8,8),dtype=int)

In [6]:
for i in range(8):
    for j in range(8):
        if (i+j)%2 == 0:
            d[i,j] = 1
            
d

array([[1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1]])

# 4. Normalize a 5x5 random matrix

In [7]:
a = np.random.rand(5,5)
a

array([[0.57116179, 0.36746102, 0.73546548, 0.32936464, 0.48880069],
       [0.01282107, 0.67223746, 0.54812449, 0.36378795, 0.69043003],
       [0.07902463, 0.44703131, 0.39026552, 0.55041657, 0.64505815],
       [0.27370322, 0.42881826, 0.40380422, 0.50156679, 0.42686417],
       [0.87120804, 0.57536814, 0.45655856, 0.65807136, 0.62172073]])

In [8]:
a = a - a.mean()
a = a / a.max()

In [9]:
a

array([[ 0.22437138, -0.30220129,  0.64910138, -0.40068158,  0.01146543],
       [-1.21895628,  0.48565503,  0.16481924, -0.31169629,  0.53268338],
       [-1.04781809, -0.09650967, -0.24325097,  0.17074436,  0.41539569],
       [-0.54456804, -0.14359096, -0.20825301,  0.04446619, -0.14864235],
       [ 1.        ,  0.23524492, -0.07188146,  0.44903524,  0.35506776]])

# 5.  How to find common values between two arrays?

In [10]:
a = [2,33,5,6,7,8]
b = [24,5,7,3,5,8,3,1,4,7,8,9]
list(set(a).intersection(set(b)))

[8, 5, 7]

# 6.How to get the dates of yesterday, today and tomorrow?

In [11]:
from datetime import date
from datetime import timedelta

In [12]:
today = date.today()
str(today)

'2020-07-26'

In [13]:
tomorrow = date.today() + timedelta(days=1)
str(tomorrow)

'2020-07-27'

In [14]:
tomorrow = date.today() - timedelta(days=1)
str(tomorrow)

'2020-07-25'

# 7. Consider two random array A and B, check if they are equal

In [15]:
a = np.random.rand(5)
b = np.random.rand(5)
print(a)
print(b)

[0.75045667 0.21524984 0.99255822 0.20696991 0.39030126]
[0.95506102 0.8512497  0.66036433 0.962703   0.98307054]

In [16]:
a == b

array([False, False, False, False, False])

# 8.Create random vector of size 10 and replace the maximum value by 0

In [17]:
vector = np.random.rand(10)
vector

array([0.01765737, 0.75949172, 0.71877149, 0.70392625, 0.62497881,
       0.10688963, 0.89707922, 0.47611013, 0.7594102 , 0.89651705])

In [18]:
vector.sort
vector

array([0.01765737, 0.75949172, 0.71877149, 0.70392625, 0.62497881,
       0.10688963, 0.89707922, 0.47611013, 0.7594102 , 0.89651705])

In [19]:
vector[-1] = 0

In [20]:
vector

array([0.01765737, 0.75949172, 0.71877149, 0.70392625, 0.62497881,
       0.10688963, 0.89707922, 0.47611013, 0.7594102 , 0.        ])

# 9. How to print all the values of an array?

In [21]:
arr = np.random.rand(10)

In [22]:
for one_ele in arr:
    print(one_ele)

0.05366818318158417
0.7071064681951267
0.978165693020348
0.5813253140089102
0.16135591521228854
0.5720645758583426
0.040239130566469106
0.8494418453169539
0.47297674552632796
0.36180240087039695

# 10.Subtract the mean of each row of a matrix

In [23]:
mat = np.random.rand(4,4)
mat

array([[0.24103784, 0.13095694, 0.72501055, 0.58954159],
       [0.99435241, 0.87980646, 0.05920996, 0.14124803],
       [0.17409142, 0.51834347, 0.73680832, 0.21768091],
       [0.42569769, 0.08478345, 0.77416932, 0.68598881]])

In [24]:
mat = mat - mat.mean()
mat

array([[-0.22013261, -0.33021351,  0.2638401 ,  0.12837114],
       [ 0.53318196,  0.41863601, -0.40196049, -0.31992242],
       [-0.28707903,  0.05717302,  0.27563788, -0.24348953],
       [-0.03547276, -0.376387  ,  0.31299887,  0.22481836]])

# 11.Consider a given vector, how to add 1 to each element indexed by a second vector (be careful with repeated indices)?

In [25]:
vector = np.random.rand(10)
vector.sort()
vector

array([0.0094328 , 0.07013406, 0.16465914, 0.17712097, 0.23697805,
       0.3149517 , 0.34708077, 0.67988588, 0.84723244, 0.9422619 ])

In [26]:
vector = vector + 1
vector

array([1.0094328 , 1.07013406, 1.16465914, 1.17712097, 1.23697805,
       1.3149517 , 1.34708077, 1.67988588, 1.84723244, 1.9422619 ])

#### There is no need to consider the index while adding 1 to all element

# 12.How to get the diagonal of a dot product?

In [27]:
a = np.array([[1,2,5],[4,9,3],[7,3,7]])
b = np.array([[2,6,3],[8,5,8],[2,5,3]])
print(a)
print(b)

[[1 2 5]
 [4 9 3]
 [7 3 7]]
[[2 6 3]
 [8 5 8]
 [2 5 3]]

In [28]:
c = a.dot(b)
c

array([[28, 41, 34],
       [86, 84, 93],
       [52, 92, 66]])

In [29]:
c.diagonal()

array([28, 84, 66])

# 13.How to find the most frequent value in an array?

In [30]:
from scipy import stats

In [31]:
arr = [4,5,7,4,6,3,5,6,8,8,6,5,3,5,7,8,3,2,1,4,6,]
stats.mode(arr)[0][0]

5

# 14.How to get the n largest values of an array

In [32]:
a = np.random.rand(1000)

In [33]:
a.sort()

In [34]:
top = 5

In [35]:
top_value = a[:top]
top_value

array([0.00430738, 0.00928866, 0.00944924, 0.01141533, 0.01162168])

In [36]:
top_value.size

5

# 15.How to create a record array from a regular array?

In [37]:
# regualr array = 
a = [23,95,8939330483]

In [38]:
import pandas as pd

In [39]:
b = pd.DataFrame(a,index=['Roll','Marks','Phone'])
b

                0
Roll           23
Marks          95
Phone  8939330483

In [40]:
# named array is record array
b

                0
Roll           23
Marks          95
Phone  8939330483